<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update assigment</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>

<form th:method="PATCH" th:action="@{/assigment/{id}(id=${assigment.getId()})}" th:object="${assigment}"
      style="margin-left:30px">
    <label for="subjectOfAssigment">Enter subjectOfAssigment: </label>
    <br/>
    <input type="text" th:field="*{subjectOfAssigment}" id="subjectOfAssigment" style="width: 300px"/>
    <div style="color:red" th:if="${#fields.hasErrors('subjectOfAssigment')}" th:errors="*{subjectOfAssigment}">subjectOfAssigment Error</div>
    <br/>
    <label for="organizationId">Choose name of organization: </label>
    <select class="form-control" th:field="*{executorsOfAssigment}" id="organizationId" style="width: 300px">
        <option value="0">ALL</option>
        <option th:each="employee : ${allEmployee}"
                th:value="${employee.getId}"
                th:selected="${employee.getId}"
                th:text="${employee.getSurname()+' '+employee.getName()+' '+ employee.getMiddleName()}">
        </option>
    </select>
    <br/>
    <label for="dateOfExecution">Enter dateOfExecution: </label>
    <br/>
    <input type="text" th:field="*{dateOfExecution}" id="dateOfExecution" style="width: 300px"/>
    <div style="color:red" th:if="${#fields.hasErrors('dateOfExecution')}" th:errors="*{dateOfExecution}">dateOfExecution Error</div>
    <br/>
    <label for="singOfControl">Choose singOfControl: </label>
    <select class="form-control" th:field="*{singOfControl}" id="singOfControl" style="width: 300px">
        <option value="0">ALL</option>
        <option th:each="assigment : ${singOfControl}"
                th:value="${assigment}"
                th:selected="${assigment}"
                th:text="${assigment}">
        </option>
    </select>
    <br/>
    <label for="singOfExecution">Choose name of organization: </label>
    <select class="form-control" th:field="*{singOfExecution}" id="singOfExecution" style="width: 300px">
        <option value="0">ALL</option>
        <option th:each="assigment : ${singOfExecution}"
                th:value="${assigment}"
                th:selected="${assigment}"
                th:text="${assigment}">
        </option>
    </select>
    <br/>
    <label for="textOfAssigment">Enter subjectOfAssigment: </label>
    <br/>
    <input type="text" th:field="*{textOfAssigment}" id="textOfAssigment" style="height: 200px; width: 600px;"/>
    <div style="color:red" th:if="${#fields.hasErrors('textOfAssigment')}" th:errors="*{textOfAssigment}">
        textOfAssigment Error
    </div>
    <br/>
    <input type="submit" class="btn btn-primary" value="Update!"/>
</form>

</body>
</html>