<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All organization</title>
</head>
<body>

<div th:each="organization : ${organization}">
    <a th:href="@{/organization/{id}(id=${organization.getId()})}"
       th:text="${organization.getNameOfOrganization() + ', ' + organization.getLegalAddress()}">user</a>
</div>

<br/>
<hr/>

<a href="/organization/new">Create new organization</a>

<br/>
<a href="/division">To divisions</a>

</body>
</html>