<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update employee</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>

<form th:method="PATCH" th:action="@{/employee/{id}(id=${employee.getId()})}" th:object="${employee}"
      style="margin-left:30px">
    <label for="surname">Enter surname: </label>
    <br/>
    <input type="text" th:field="*{surname}" id="surname" style="width: 300px"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname Error</div>
    <br/>
    <label for="name">Enter name: </label>
    <br/>
    <input type="text" th:field="*{name}" id="name" style="width: 300px"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="middleName">Enter middleName: </label>
    <br/>
    <input type="text" th:field="*{middleName}" id="middleName" style="width: 300px"/>
    <div style="color:red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}">middleName Error</div>
    <br/>
    <label for="position">Enter email: </label>
    <br/>
    <input type="text" th:field="*{position}" id="position" style="width: 300px"/>
    <div style="color:red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">position Error</div>
    <br/>
    <label for="organizationId">Choose name of organization: </label>
    <select class="form-control" th:field="*{organizationId}" id="organizationId" style="width: 300px">
        <option value="0">ALL</option>
        <option th:each="organization : ${allOrganization}"
                th:value="${organization.getId()}"
                th:selected="${organization.getId()}"
                th:text="${organization.getNameOfOrganization()}">
        </option>
    </select>
    <br/>
    <label for="divisionId">Choose name of division: </label>
    <select class="form-control" th:field="*{divisionId}" id="divisionId" style="width: 300px">
        <option value="0">ALL</option>
        <option th:each="division : ${allDivisions}"
                th:value="${division.getId()}"
                th:selected="${division.getId()}"
                th:text="${division.getDivisionName() + ' ' + division.nameFromId(division.getOrganizationId())}">
        </option>
    </select>
    <br/>
    <input type="submit" class="btn btn-primary" value="Update!"/>
</form>

</body>
</html>