<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All employee</title>
</head>
<body>

<div th:each="employee : ${employee}">
    <a th:href="@{/employee/{id}(id=${employee.getId()})}"
       th:text="${employee.getOrganizationName() + ', ' + employee.getDivisionName() + ', ' + employee.getSurname() + ', ' + employee.getName() + ', ' + employee.getMiddleName() + ', ' + employee.getPosition()}">user</a>
</div>

<br/>
<hr/>

<a href="/employee/new">Create new employee</a>
<br/>
<a href="/organization">Back to divisions</a>
</body>
</html>